@charset "UTF-8";
/* CSS Document */

#interstitial {position:absolute; left:0px; top:0px; display:none}
#controltable {position:absolute; left:1; top:5px; border:thin solid white}
#controltable tr th {color:white}
#controltable tr td {color:white}
#controltable tr td div {color:white}
#controltable tr td a {color:white}
img {border:none}
